.key {
    color: #83c7b4;
    font-weight: 500;
}

li{
    color: #F7ECC8;
    list-style: none;
}

.email{
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
}

.about-link{
    text-decoration: none;
    color: #E85858;
}