<div class="key email">sudbasnet10@gmail.com <br> ---------------------</div>
<ul>
    <li><span class="key">Name:</span> Sudeep Basnet</li>
    <li><span class="key">Interests:</span> Software Development, Data Analytics</li>
    <li><span class="key">Languages:</span> Python, C#, TypeScript, SQL, NoSQL</li>
    <li><span class="key">Other:</span> NodeJS, Vue, GIT, Azure DevOps, JIRA</li>
    <li><span class="key">Status:</span> Open to Job Oppurtunities</li>
    <li><span class="key">2019/10 - Current:</span> Technical Consultant</li>
    <li><span class="key">2016/01 - 2019/09:</span> Grad. Research Assistant</li>
    <li><span class="key">2012/07 - 2016/12:</span> Data Software Engineer</li>
    <li><span class="key">Education:</span> M.S. in Computer Science</li>
    <li><span class="key">Resume:</span><a target="_blank" method="get" href="assets/basnet_sudeep_resume.pdf"
            class="about-link">[Download]</a></li>
</ul>