<div class="key email">sudbasnet10@gmail.com <br> ---------------------</div>
<ul>
    <li><span class="key">Name:</span> Sudeep Basnet</li>
    <li><span class="key">Interests:</span> Software Development, Data Science </li>
    <li><span class="key">Languages:</span> Python, Java, JavaScript, R, SQL</li>
    <li><span class="key">Status:</span> Open to Job Oppurtunities</li>
    <li><span class="key">2019/10 - Current:</span> Technical Consultant</li>
    <li><span class="key">2016/01 - 2019/09:</span> Grad. Research Assistant</li>
    <li><span class="key">2012/07 - 2016/12:</span> Software Engineer</li>
    <li><span class="key">Education:</span> M.S. in Computer Science</li>
    <li><span class="key">Resume:</span><a href="#" class="about-link">[]</a></li>
</ul>