<h2 class="heading1">Summary</h2>
<p>Dedicated, career-oriented individual with 4.5 years of professional experience as a Software Engineer and Data
    Analyst. Graduated with a master’s degree in Computer Science from the University of Nebraska - Lincoln. Has worked
    in Agile methodology and used technology such as Java, Oracle, Python and JavaScript on Windows and Unix platforms.
    Interested in Software Development and Data Science.</p>

<h3 class="heading2">Programming Skills:</h3>
<p>Python, R, Java, SQL, JavaScript, Typescript, HTML/CSS</p>

<h3 class="heading2">Other Technical Skills:</h3>
<p class="no-justify">GIT and SVN, Data Analysis, Data Visualization, Database Development, Systems Administration
    (UNIX), Oracle,
    Snowflake, JIRA</p>

<h2 class="heading1">Work Experience</h2>

<h3 class="job-title">Technical Consultant
    <div class="duration"> Oct 2019 – Current</div>
</h3>
<p><a class="resume-link" href="https://www.logicinfo.com/">Logic Information Systems, Bloomington, MN, USA</a></p>
<ul>
    <li>Developed korn shell-script programs for data manipulation and application of business specific logic in
        Oracle’s enterprise data warehouse.</li>
    <li>Designed Cloud Data Warehouse in Snowflake along with stored procedures in JavaScript, and automated data
        loading with Python.</li>
    <li>Debugged and resolved issues in reporting dashboards of using MicroStrategy Developer, MicroStrategy
        Architect
        and MicroStrategy Intelligence Server.</li>
</ul>

<h3 class="job-title">Graduate Research and Teaching Assistant
    <div class="duration"> Jan 2017 – Aug 2019</div>
</h3>
<p><a class="resume-link" href="https://cse.unl.edu/">University of Nebraska – Lincoln (UNL)</a></p>
<ul>
    <li>Developed Agent-based simulation models to simulate and predict social unrest on a geographic and temporal
        scale, in Repast Java. <a class="resume-link" href="https://github.com/sudbasnet/SocialUnrestMAS">Github
            Link</a></li>
    <li>Developed a scalable clustering algorithm using Python to perform unsupervised learning on GIS data, with
        performance gain up to 60% compared to state-of-art algorithms. Published and presented Research Paper.</li>
    <li>Data Mining, Data Analysis and Data Management using Python, R and Java, utilizing parallel computing on
        Nebraska’s second-fastest High-Performance Computing servers.</li>
    <li>Development and management of PHP backed application, and Data Visualization using HTML/CSS, KnockoutJS,
        Google
        Maps JavaScript API and MySQL database. <a class="resume-link" href="https://cse.unl.edu/~surge/">View</a></li>
</ul>

<h3 class="job-title">Software Engineer – Data Operations
    <div class="duration">July 2012 – Dec 2016</div>
</h3>
<p>
    <a class="resume-link" href="http://cotiviti.com.np/">Cotiviti Nepal, Kathmandu, Nepal (Subsidiary of Cotiviti
        Healthcare, Waltham MA)</a>
</p>
<ul>
    <li>Experienced in Software Development using Oracle 11g and Java on Windows and UNIX platforms, involved in Import,
        Analysis, Designing &amp; Development, Testing and Production support phases.</li>
    <li>Data Analysis of US healthcare data (HIPAA protected medical data). Prepared Analytical Reports per
        client-requirements using OBIEE and BIP.</li>
    <li>Implemented Oracle PL/SQL procedures, functions, triggers and packages for data management and statistical
        report generation on US healthcare data.</li>
    <li>Developed ETL procedures, documented and validated complex business rules for data transformation. Prepared
        technical specification, reviewed code, and performed unit testing for client-specific change requests.</li>
    <li>Optimized multiple large clients by 60 – 70% in processing time using parallel processes, re-designing
        back-end
        jobs, performance tuning, normalization and query optimization.</li>
    <li>Led multiple teams of Software Engineers through different projects for 2 years. Responsible for Code
        Quality,
        Code Reviews, Design Reviews, Code documentation and Design documentation for maintainability.</li>
</ul>


<h2 class="heading1">Education</h2>

<h3 class="job-title">Master of Science, Computer Science
    <div class="duration">Jan 2017 – August 2019</div>
</h3>
<p>
    <a class="resume-link" href="https://cse.unl.edu/">University of Nebraska – Lincoln</a>
</p>
<p class="no-justify">
    <strong>Relevant Courses</strong>: <br>Design and Analysis of Algorithms, Data Structures, Machine Learning,
    Systems Administration
</p>